@model Pathfinder.Models.HealthUpdater

@{
    ViewBag.Title = "Update Current Health";
}

<h2>Update Current Health</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.CharacterId)
    @Html.HiddenFor(m => m.CurrentHealth)
    @Html.HiddenFor(m => m.MaxHealth)
    
    <div class="form-group">
        <div class="col-xs-12 h4">
            Current Health: @Model.CurrentHealth / @Model.MaxHealth
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-xs-12">
            @Html.TextBoxFor(model => model.Health, new { @class = "form-control", Value = "", @placeholder = "Health" })
            @Html.ValidationMessageFor(model => model.Health, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-xs-12">
            <input name="submit" type="submit" value="Damage" class="btn btn-danger" />
            <input name="submit" type="submit" value="Health" class="btn btn-success" />
            <input name="submit" type="submit" value="Max Health" class="btn btn-default" />
        </div>
    </div>
}