@model Pathfinder.ViewModels.PlayerCharacter

@using Pathfinder.Models;
@using Pathfinder.ViewModels;

@{
    ViewBag.Title = Model.Name;
}

<h1>@Model.Name</h1>

@using (Html.BeginForm())
{
    <div class="row">
        <div id="divBaseStats" class="col-sm-6 col-xs-12">
            <table id="tblAbilityScores" class="section">
                <thead onclick="ToggleRowsVisible('tblAbilityScores')">
                    <tr>
                        <td colspan="3">Ability Scores</td>
                    </tr>
                </thead>
                <tr ondblclick="@("GoToRoller('Strength Check','" + @Model.StrengthMod + "')");">
                    <td>Strength</td>
                    <td class="numberCell">@Model.Strength</td>
                    <td class="numberCell"><strong>@Model.StrengthMod</strong></td>
                </tr>
                <tr ondblclick="@("GoToRoller('Dexterity Check','" + @Model.DexterityMod + "')");">
                    <td>Dexterity</td>
                    <td class="numberCell">@Model.Dexterity</td>
                    <td class="numberCell"><strong>@Model.DexterityMod</strong></td>
                </tr>
                <tr ondblclick="@("GoToRoller('Constitution Check','" + @Model.ConstitutionMod + "')");">
                    <td>Constitution</td>
                    <td class="numberCell">@Model.Constitution</td>
                    <td class="numberCell"><strong>@Model.ConstitutionMod</strong></td>
                </tr>
                <tr ondblclick="@("GoToRoller('Intelligence Check','" + @Model.IntelligenceMod + "')");">
                    <td>Intelligence</td>
                    <td class="numberCell">@Model.Intelligence</td>
                    <td class="numberCell"><strong>@Model.IntelligenceMod</strong></td>
                </tr>
                <tr ondblclick="@("GoToRoller('Wisdom Check','" + @Model.WisdomMod + "')");">
                    <td>Wisdom</td>
                    <td class="numberCell">@Model.Wisdom</td>
                    <td class="numberCell"><strong>@Model.WisdomMod</strong></td>
                </tr>
                <tr ondblclick="@("GoToRoller('Charisma Check','" + @Model.CharismaMod + "')");">
                    <td>Charisma</td>
                    <td class="numberCell">@Model.Charisma</td>
                    <td class="numberCell"><strong>@Model.CharismaMod</strong></td>
                </tr>
            </table>

            <table id="tblBab" class="section">
                <thead onclick="ToggleRowsVisible('tblBab')">
                    <tr>
                        <td colspan="2">Base Attack Bonus & Maneuvers</td>
                    </tr>
                </thead>
                <tr id="trBab">
                    <td>BAB</td>
                    <td class="numberCell">@Model.BaseAttackBonus</td>
                </tr>
                <tr id="trCmb" ondblclick="@("GoToRoller('Combat Maneuver','" + @Model.CombatManeuverBonus + "')");">
                    <td>CMB</td>
                    <td class="numberCell">@Model.CombatManeuverBonus</td>
                </tr>
                <tr id="trCmd">
                    <td>CMD</td>
                    <td class="numberCell">@Model.CombatManeuverDefense</td>
                </tr>
            </table>

            <table id="tblArmorClass" class="section">
                <thead onclick="ToggleRowsVisible('tblArmorClass')">
                    <tr>
                        <td colspan="2">Armor Class</td>
                    </tr>
                </thead>
                <tr id="trArmorClass">
                    <td>AC</td>
                    <td class="numberCell">@Model.ArmorClass</td>
                </tr>
                <tr id="trTouchArmorClass">
                    <td>Touch AC</td>
                    <td class="numberCell">@Model.TouchArmorClass</td>
                </tr>
                <tr id="trFlatFootedArmorClass">
                    <td>Flat-Footed AC</td>
                    <td class="numberCell">@Model.FlatFootedArmorClass</td>
                </tr>
            </table>

            <table id="tblSaves" class="section">
                <thead onclick="ToggleRowsVisible('tblSaves')">
                    <tr>
                        <td colspan="2">Saves</td>
                    </tr>
                </thead>
                <tr id="trFortitude" ondblclick="@("GoToRoller('Fortitude Save','" + @Model.FortitudeSave + "')");">
                    <td>Fortitude</td>
                    <td class="numberCell">@Model.FortitudeSave</td>
                </tr>
                <tr id="trReflex" ondblclick="@("GoToRoller('Reflex Save','" + @Model.ReflexSave + "')");">
                    <td>Reflex</td>
                    <td class="numberCell">@Model.ReflexSave</td>
                </tr>
                <tr id="trWill" ondblclick="@("GoToRoller('Will Save','" + @Model.WillSave + "')");">
                    <td>Will</td>
                    <td class="numberCell">@Model.WillSave</td>
                </tr>
            </table>

            <table id="tblOther" class="section">
                <tr>
                    <td>Health</td>
                    <td class="numberCell">130/146</td>
                </tr>
                <tr>
                    <td>Experience</td>
                    <td class="numberCell">@Model.Experience</td>
                </tr>
                <tr>
                    <td>Move Speed</td>
                    <td class="numberCell">@Model.MoveSpeed</td>
                </tr>
            </table>
        </div>

        <div id="divSkills" class="col-sm-6 col-xs-12">
            <table id="tblSkills" class="section">
                <thead onclick="ToggleRowsVisible('tblSkills')">
                    <tr>
                        <td colspan="2">Skills</td>
                    </tr>
                </thead>
                @foreach (var item in Model.Skills)
                {
                    <tr ondblclick="@("GoToRoller('" + item.Name + "','" + item.Bonus + "')");">
                        <td>@item.Name</td>
                        <td style="text-align: right;" colspan="2">@item.Bonus</td>
                    </tr>
                }
            </table>
        </div>

        @*<div id="divCenter" class="inline center-column">
            <div id="divClasses">
                <table id="tblClasses" class="section full">
                    <thead onclick="ToggleRowsVisible('tblClasses')">
                        <tr>
                            <td>Class</td>
                            <td>Levels</td>
                            <td>BAB</td>
                            <td>Fort</td>
                            <td>Ref</td>
                            <td>Will</td>
                        </tr>
                    </thead>
                    @foreach (var item in Model.Classes)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Levels</td>
                            <td>@item.BaseAttackBonus</td>
                            <td>@item.ForitudeSave</td>
                            <td>@item.ReflexSave</td>
                            <td>@item.WillSave</td>
                        </tr>
                    }
                </table>
            </div>

            <div id="divAttacks">
                <table id="tblAttacks" class="section full">
                    <thead onclick="ToggleRowsVisible('tblAttacks')">
                        <tr>
                            <td>Name</td>
                            <td>Attacks</td>
                            <td>Damage</td>
                            <td>Crit</td>
                        </tr>
                    </thead>
                    @foreach (var item in Model.Attacks)
                    {
                        <tr>
                            <td>@item.WeaponName</td>
                            <td>@item.AttackBonuses</td>
                            <td>@item.Damage</td>
                            <td>@item.Critical</td>
                        </tr>
                    }
                </table>
            </div>

            <div id="divAbilities" class="js-masonry inline full" data-masonry-options='{ "columnWidth": 280, "gutter": 10, "itemSelector": ".masonry-box" }'>
                @Html.HiddenFor(m => m.AbilityViewer)
                @foreach (AbilityTypeViewer type in Model.AbilityViewer.Abilities)
                {
                    <div id="@("div" + type.Name.Replace(" ",""))" class="inline masonry-box">
                        <table id="@("tbl" + type.Name.Replace(" ",""))" class="section">
                            <thead onclick="ToggleRowsVisible('@("tbl" + type.Name.Replace(" ",""))')"><tr><td colspan="2">@type.Name</td></tr></thead>
                            @foreach (Ability ability in type.Abilities)
                            {
                                <tr>
                                    <td>@ability.Name</td>
                                    <td align="right" style="vertical-align: central;">
                                        @if (ability.IsConditional)
                                        {
                                            @Html.EditorFor(m => ability.Active, new
                                       {
                                           htmlAttributes = new
                                           {
                                               @class = "form-control",
                                               @onclick = "UpdateAbility(" + ability.AbilityId + ","
                                                                           + ability.CharacterId + ","
                                                                           + ability.AbilityTypeId + ",'"
                                                                           + ability.Name + "','"
                                                                           + ability.Description + "','"
                                                                           + ability.IsConditional + "','"
                                                                           + !ability.Active + "')"
                                           }
                                       });
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                }

                <div id="divManage" class="inline float-right masonry-box">
                    <table id="tblManage" class="section">
                        <thead onclick="ToggleRowsVisible('tblManage')"><tr><td>Manager Panel</td></tr></thead>
                        <tr><td>@Html.ActionLink("Manage Classes", "Index", "Class", new { Id = Model.MyCharacter.CharacterId }, null)</td></tr>
                        <tr><td>@Html.ActionLink("Manage Skills", "Index", "Skill", new { Id = Model.MyCharacter.CharacterId }, null)</td></tr>
                        <tr><td>@Html.ActionLink("Manage Attacks", "Index", "Attack", new { Id = Model.MyCharacter.CharacterId }, null)</td></tr>
                        <tr><td>@Html.ActionLink("Manage Abilities", "Index", "Ability", new { Id = Model.MyCharacter.CharacterId }, null)</td></tr>
                        <tr><td>@Html.ActionLink("Manage Equations", "Index", "Equation", new { Id = Model.MyCharacter.CharacterId }, null)</td></tr>
                    </table>
                </div>
            </div>
        </div>*@
    </div>
}