@model Pathfinder.ViewModels.CharacterView

@using Pathfinder.Models;
@using Pathfinder.ViewModels;
@using Pathfinder.Extensions;

@{
    ViewBag.Title = Model.Name;
}

<h1>@Model.Name</h1>

@using (Html.BeginForm())
{
    <div class="row">
        <div id="divBaseStats" class="col-sm-6 col-xs-12">
            <table id="tblAbilityScores" class="section">
                <thead onclick="ToggleRowsVisible('tblAbilityScores')">
                    <tr>
                        <td colspan="3">Ability Scores</td>
                    </tr>
                </thead>
                <tr class="rollD20" data-name="Strength Check" data-value="@Model.StrengthMod.Beautify()">
                    <td>Strength</td>
                    <td class="numberCell">@Model.Strength.Beautify()</td>
                    <td class="numberCell"><strong>@Model.StrengthMod.Beautify()</strong></td>
                </tr>
                <tr class="rollD20" data-name="Dexterity Check" data-value="@Model.DexterityMod.Beautify()">
                    <td>Dexterity</td>
                    <td class="numberCell">@Model.Dexterity.Beautify()</td>
                    <td class="numberCell"><strong>@Model.DexterityMod.Beautify()</strong></td>
                </tr>
                <tr class="rollD20" data-name="Constitution Check" data-value="@Model.ConstitutionMod.Beautify()">
                    <td>Constitution</td>
                    <td class="numberCell">@Model.Constitution.Beautify()</td>
                    <td class="numberCell"><strong>@Model.ConstitutionMod.Beautify()</strong></td>
                </tr>
                <tr class="rollD20" data-name="Intelligence Check" data-value="@Model.IntelligenceMod.Beautify()">
                    <td>Intelligence</td>
                    <td class="numberCell">@Model.Intelligence.Beautify()</td>
                    <td class="numberCell"><strong>@Model.IntelligenceMod.Beautify()</strong></td>
                </tr>
                <tr class="rollD20" data-name="Wisdom Check" data-value="@Model.WisdomMod.Beautify()">
                    <td>Wisdom</td>
                    <td class="numberCell">@Model.Wisdom.Beautify()</td>
                    <td class="numberCell"><strong>@Model.WisdomMod.Beautify()</strong></td>
                </tr>
                <tr class="rollD20" data-name="Charisma Check" data-value="@Model.CharismaMod.Beautify()">
                    <td>Charisma</td>
                    <td class="numberCell">@Model.Charisma.Beautify()</td>
                    <td class="numberCell"><strong>@Model.CharismaMod.Beautify()</strong></td>
                </tr>
            </table>

            <table id="tblBab" class="section">
                <thead onclick="ToggleRowsVisible('tblBab')">
                    <tr>
                        <td colspan="2">Base Attack Bonus & Maneuvers</td>
                    </tr>
                </thead>
                <tr id="trBab">
                    <td>BAB</td>
                    <td class="numberCell">@Model.BaseAttackBonus.Beautify()</td>
                </tr>
                <tr id="trCmb" class="rollD20" data-name="Combat Maneuver Check" data-value="@Model.CombatManeuverBonus.Beautify()">
                    <td>CMB</td>
                    <td class="numberCell">@Model.CombatManeuverBonus.Beautify()</td>
                </tr>
                <tr id="trCmd">
                    <td>CMD</td>
                    <td class="numberCell">@Model.CombatManeuverDefense.Beautify()</td>
                </tr>
            </table>

            <table id="tblArmorClass" class="section">
                <thead onclick="ToggleRowsVisible('tblArmorClass')">
                    <tr>
                        <td colspan="2">Armor Class</td>
                    </tr>
                </thead>
                <tr id="trArmorClass">
                    <td>AC</td>
                    <td class="numberCell">@Model.ArmorClass.Beautify()</td>
                </tr>
                <tr id="trTouchArmorClass">
                    <td>Touch AC</td>
                    <td class="numberCell">@Model.TouchArmorClass.Beautify()</td>
                </tr>
                <tr id="trFlatFootedArmorClass">
                    <td>Flat-Footed AC</td>
                    <td class="numberCell">@Model.FlatFootedArmorClass.Beautify()</td>
                </tr>
            </table>

            <table id="tblSaves" class="section">
                <thead onclick="ToggleRowsVisible('tblSaves')">
                    <tr>
                        <td colspan="2">Saves</td>
                    </tr>
                </thead>
                <tr id="trFortitude" class="rollD20" data-name="Fortitude Save" data-value="@Model.FortitudeSave.Beautify()">
                    <td>Fortitude</td>
                    <td class="numberCell">@Model.FortitudeSave.Beautify()</td>
                </tr>
                <tr id="trReflex" class="rollD20" data-name="Reflex Save" data-value="@Model.ReflexSave.Beautify()">
                    <td>Reflex</td>
                    <td class="numberCell">@Model.ReflexSave.Beautify()</td>
                </tr>
                <tr id="trWill" class="rollD20" data-name="Will Save" data-value="@Model.WillSave.Beautify()">
                    <td>Will</td>
                    <td class="numberCell">@Model.WillSave.Beautify()</td>
                </tr>
            </table>

            <table id="tblOther" class="section">
                <thead onclick="ToggleRowsVisible('tblOther')">
                    <tr>
                        <td colspan="2">Miscellaneous</td>
                    </tr>
                </thead>
                <tr data-href="@Url.Action("UpdateCurrentHealth", "Character", new { Id = Model.CharacterId })">
                    <td>Health</td>
                    <td class="numberCell">@(Model.CurrentHealth + "/" + Model.MaximumHealth.Beautify())</td>
                </tr>
                <tr data-href="@Url.Action("UpdateExperience", "Character", new { Id = Model.CharacterId })">
                    <td>Experience</td>
                    <td class="numberCell">@Model.Experience</td>
                </tr>
                <tr>
                    <td>Move Speed</td>
                    <td class="numberCell">@Model.MoveSpeed.Beautify()</td>
                </tr>
            </table>

            <table id="tblCounters" class="section">
                <thead onclick="ToggleRowsVisible('tblCounters')">
                    <tr>
                        <td colspan="2">Counters</td>
                    </tr>
                </thead>
                @*<tr data-href="@Url.Action("UpdateCurrentHealth", "Character", new { Id = Model.CharacterId })">
                    <td>Health</td>
                    <td class="numberCell">@(Model.CurrentHealth + "/" + Model.MaximumHealth.Beautify())</td>
                </tr>*@
                <tr>
                    <td>Panache Points</td>
                    <td class="numberCell">1</td>
                </tr>
            </table>
        </div>

        <div id="divSkills" class="col-sm-6 col-xs-12">
            <table id="tblSkills" class="section">
                <thead onclick="ToggleRowsVisible('tblSkills')">
                    <tr>
                        <td colspan="2">Skills</td>
                    </tr>
                </thead>
                @foreach (var item in Model.Skills)
                {
                    <tr class="rollD20" data-name="@item.Key" data-value="@item.Value.Beautify()">
                        <td>@item.Key</td>
                        <td style="text-align: right;" colspan="2">@item.Value.Beautify()</td>
                    </tr>
                }
            </table>
            <div style="padding-left: 5px;">@Html.ActionLink("[Edit Skills]", "Index", "Skill", new { Id = Model.CharacterId }, null)</div>
        </div>
    </div>
}