@model Pathfinder.ViewModels.CharacterView

@using Pathfinder.Models;
@using Pathfinder.ViewModels;

@{
    ViewBag.Title = Model.Name;
}

<h1>@Model.Name</h1>

@using (Html.BeginForm())
{
    <div class="row">
        <div id="divBaseStats" class="col-sm-6 col-xs-12">
            <table id="tblAbilityScores" class="section">
                <thead onclick="ToggleRowsVisible('tblAbilityScores')">
                    <tr>
                        <td colspan="3">Ability Scores</td>
                    </tr>
                </thead>
                <tr class="rollD20" data-name="Strength Check" data-value="@Model.StrengthMod">
                    <td>Strength</td>
                    <td class="numberCell">@Model.Strength</td>
                    <td class="numberCell"><strong>@Model.StrengthMod</strong></td>
                </tr>
                <tr class="rollD20" data-name="Dexterity Check" data-value="@Model.DexterityMod">
                    <td>Dexterity</td>
                    <td class="numberCell">@Model.Dexterity</td>
                    <td class="numberCell"><strong>@Model.DexterityMod</strong></td>
                </tr>
                <tr class="rollD20" data-name="Constitution Check" data-value="@Model.ConstitutionMod">
                    <td>Constitution</td>
                    <td class="numberCell">@Model.Constitution</td>
                    <td class="numberCell"><strong>@Model.ConstitutionMod</strong></td>
                </tr>
                <tr class="rollD20" data-name="Intelligence Check" data-value="@Model.IntelligenceMod">
                    <td>Intelligence</td>
                    <td class="numberCell">@Model.Intelligence</td>
                    <td class="numberCell"><strong>@Model.IntelligenceMod</strong></td>
                </tr>
                <tr class="rollD20" data-name="Wisdom Check" data-value="@Model.WisdomMod">
                    <td>Wisdom</td>
                    <td class="numberCell">@Model.Wisdom</td>
                    <td class="numberCell"><strong>@Model.WisdomMod</strong></td>
                </tr>
                <tr class="rollD20" data-name="Charisma Check" data-value="@Model.CharismaMod">
                    <td>Charisma</td>
                    <td class="numberCell">@Model.Charisma</td>
                    <td class="numberCell"><strong>@Model.CharismaMod</strong></td>
                </tr>
            </table>

            <table id="tblBab" class="section">
                <thead onclick="ToggleRowsVisible('tblBab')">
                    <tr>
                        <td colspan="2">Base Attack Bonus & Maneuvers</td>
                    </tr>
                </thead>
                <tr id="trBab">
                    <td>BAB</td>
                    <td class="numberCell">@Model.BaseAttackBonus</td>
                </tr>
                <tr id="trCmb" class="rollD20" data-name="Combat Maneuver Check" data-value="@Model.CombatManeuverBonus">
                    <td>CMB</td>
                    <td class="numberCell">@Model.CombatManeuverBonus</td>
                </tr>
                <tr id="trCmd">
                    <td>CMD</td>
                    <td class="numberCell">@Model.CombatManeuverDefense</td>
                </tr>
            </table>

            <table id="tblArmorClass" class="section">
                <thead onclick="ToggleRowsVisible('tblArmorClass')">
                    <tr>
                        <td colspan="2">Armor Class</td>
                    </tr>
                </thead>
                <tr id="trArmorClass">
                    <td>AC</td>
                    <td class="numberCell">@Model.ArmorClass</td>
                </tr>
                <tr id="trTouchArmorClass">
                    <td>Touch AC</td>
                    <td class="numberCell">@Model.TouchArmorClass</td>
                </tr>
                <tr id="trFlatFootedArmorClass">
                    <td>Flat-Footed AC</td>
                    <td class="numberCell">@Model.FlatFootedArmorClass</td>
                </tr>
            </table>

            <table id="tblSaves" class="section">
                <thead onclick="ToggleRowsVisible('tblSaves')">
                    <tr>
                        <td colspan="2">Saves</td>
                    </tr>
                </thead>
                <tr id="trFortitude" class="rollD20" data-name="Fortitude Save" data-value="@Model.FortitudeSave">
                    <td>Fortitude</td>
                    <td class="numberCell">@Model.FortitudeSave</td>
                </tr>
                <tr id="trReflex" class="rollD20" data-name="Reflex Save" data-value="@Model.ReflexSave">
                    <td>Reflex</td>
                    <td class="numberCell">@Model.ReflexSave</td>
                </tr>
                <tr id="trWill" class="rollD20" data-name="Will Save" data-value="@Model.WillSave">
                    <td>Will</td>
                    <td class="numberCell">@Model.WillSave</td>
                </tr>
            </table>

            <table id="tblOther" class="section">
                <thead onclick="ToggleRowsVisible('tblOther')">
                    <tr>
                        <td colspan="2">Miscellaneous</td>
                    </tr>
                </thead>
                <tr>
                    <td>Health</td>
                    <td class="numberCell">130/146</td>
                </tr>
                <tr>
                    <td>Experience</td>
                    <td class="numberCell">@Model.Experience</td>
                </tr>
                <tr>
                    <td>Move Speed</td>
                    <td class="numberCell">@Model.MoveSpeed</td>
                </tr>
            </table>
        </div>

        <div id="divSkills" class="col-sm-6 col-xs-12">
            <table id="tblSkills" class="section">
                <thead onclick="ToggleRowsVisible('tblSkills')">
                    <tr>
                        <td colspan="2">Skills</td>
                    </tr>
                </thead>
                @foreach (var item in Model.Skills)
                {
                    <tr class="rollD20" data-name="@item.Key" data-value="@item.Value">
                        <td>@item.Key</td>
                        <td style="text-align: right;" colspan="2">@item.Value</td>
                    </tr>
                }
            </table>
            <div style="padding-left: 5px;">@Html.ActionLink("[Edit Skills]", "Index", "Skill", new { Id = Model.CharacterId }, null)</div>
        </div>
    </div>
}