@model Pathfinder.ViewModels.AbilityBonusViewer

@{
    ViewBag.Title = Model.Ability.Name;
}

<h2>@Model.Ability.Name</h2>

<table class="section full noclick">
    <thead>
        <tr>
            <td>Bonus</td>
            <td>Value</td>
        </tr>
    </thead>
    @foreach (var item in Model.Bonuses)
    {
        <tr data-href="@Url.Action("EditAbilityEquation", "Equation", new { Id = item.EquationId })">
            <td>@item.Name</td>
            <td>@item.Formula</td>
        </tr>
    }
</table><br />

@Html.ActionLink("+ [New Bonus]", "CreateAbilityEquation", "Equation", new { Id = Model.Ability.AbilityId }, null)<br /><br />

<div>
    @Html.ActionLink("Back to List", "Index", new { Id = Session["CharacterId"] })
</div>