<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/Scripts/jquery.masonry.min.js")
    @Scripts.Render("~/Scripts/hammer.min.js")
    @Scripts.Render("~/Scripts/bootstrap-dialog.min.js")
    @Scripts.Render("~/Scripts/math.min.js")
    @Scripts.Render("~/Scripts/pathfinder.js")
    
    @Scripts.Render("~/Scripts/roller.js") 
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("RPG Character Central", "Index", "Character", null , new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Session["CharacterId"] != null)
                    {
                        <li>@Html.ActionLink("Character", "View", "Character", new { Id = Session["CharacterId"] }, null)</li>
                        <li>@Html.ActionLink("Abilities", "Index", "Ability", new { Id = Session["CharacterId"] }, null)</li>
                        <li>@Html.ActionLink("Attacks", "Index", "Attack", new { Id = Session["CharacterId"] }, null)</li>
                        <li>@Html.ActionLink("Spells", "Index", "Spell", new { Id = Session["CharacterId"] }, null)</li>
                        <li>@Html.ActionLink("Inventory", "Index", "Inventory", new { Id = Session["CharacterId"] }, null)</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @* ----- rollbar ----- *@
    @if (Session["CharacterId"] != null)
    {
        <div class="rollbar">
            <div class="container">
                <div class="" style="height: 100%;">
                    <div id="roll_result" style="display: none;">
                        <table class="rollbar_table">
                            <tr>
                                <td class="full h4"><span id="roll_label"></span></td>
                                <td class="h4"><b><span id="roll_value" class="roll_value"></span></b></td>
                            </tr>
                        </table>
                    </div>
                    <div id="roller">
                        <table class="rollbar_table">
                            <tr>
                                <td class="full"><input type="text" class="form-control full" id="roll_input" placeholder="Enter Roll Here" /></td>
                                <td><button class="btn btn-primary" id="roll_button">Roll</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
    <div @(Session["CharacterId"] != null ? "class=container body-content" : "class=container body-content body-offset")>
        @RenderBody()
        <footer>
            <!-- Single D20 Roll -->
            <div class="modal fade" id="singleD20Roll" tabindex="-1" role="dialog" aria-labelledby="rollTitle" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h3 class="modal-title" id="rollTitle"></h3>
                        </div>
                        <div class="modal-body">
                            <div style="width: 100%; text-align: center;">
                                <b><span id="rollResult" style="font-size: 200px;"></span></b><br />
                            </div>
                            <span id="singleD20RollString" style="padding-left: 10px; font-size: medium; color: darkgray;"></span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" id="btnRoll" class="btn btn-primary">Roll</button>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
