@model IEnumerable<Pathfinder.Models.Class>

    @{
        ViewBag.Title = "Classes";
    }

    <h2>Classes</h2>

    <table class="section noclick full">
        <thead>
            <tr>
                <td>Name</td>
                <td>Levels</td>
                <td>Skill Points</td>
                <td>BAB</td>
                <td>Fort</td>
                <td>Ref</td>
                <td>Will</td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr class="rosterItem">
                <td>@item.Name</td>
                <td>@item.Levels</td>
                <td>@item.SkillPoints</td>
                <td>@item.BaseAttackBonus</td>
                <td>@item.ForitudeSave</td>
                <td>@item.ReflexSave</td>
                <td>@item.WillSave</td>
                <td width="50">@Html.ActionLink("Edit", "Edit", new { Id = item.ClassId })</td>
                <td width="50">@Html.ActionLink("Delete", "Delete", new { Id = item.ClassId })</td>
            </tr>
        }
    </table><br />
    @Html.ActionLink("+ [New Class]", "Create", new { Id = Session["CharacterId"] })

