@model Pathfinder.ViewModels.InventoryViewer

@{
    ViewBag.Title = "Inventory";
}

<h2>Inventory</h2>

<div class="inline float-left half-column">
    <table id="tblWeapons" class="section full">
        <thead onclick="ToggleRowsVisible('tblWeapons')"><tr><td>Weapons</td></tr></thead>
        @foreach (var item in @Model.Weapons)
        {
            <tr>
                <td>@item.Name</td>
            </tr>
        }
    </table>
    <table id="tblArmors" class="section full">
        <thead onclick="ToggleRowsVisible('tblArmors')"><tr><td>Armors</td></tr></thead>
        @foreach (var item in @Model.Armors)
        {
            <tr>
                <td>@item.Name</td>
            </tr>
        }
    </table>
    <table id="tblPotions" class="section full">
        <thead onclick="ToggleRowsVisible('tblPotions')"><tr><td>Potions</td></tr></thead>
        @foreach (var item in @Model.Potions)
        {
            <tr>
                <td>@item.Name</td>
            </tr>
        }
    </table>
    <table id="tblScrolls" class="section full">
        <thead onclick="ToggleRowsVisible('tblScrolls')"><tr><td>Scrolls</td></tr></thead>
        @foreach (var item in @Model.Scrolls)
        {
            <tr>
                <td>@item.Name</td>
            </tr>
        }
    </table>
    <table id="tblWands" class="section full">
        <thead onclick="ToggleRowsVisible('tblWands')"><tr><td>Wands</td></tr></thead>
        @foreach (var item in @Model.Wands)
        {
            <tr>
                <td>@item.Name</td>
            </tr>
        }
    </table>
    <table id="tblRods" class="section full">
        <thead onclick="ToggleRowsVisible('tblRods')"><tr><td>Rods</td></tr></thead>
        @foreach (var item in @Model.Rods)
        {
            <tr>
                <td>@item.Name</td>
            </tr>
        }
    </table>
</div>

<div class="inline float-right half-column">
    <table id="tblEquippedWondrous" class="section full">
        <thead onclick="ToggleRowsVisible('tblEquippedWondrous')">
            <tr>
                <td>Equipped Wondrous Items</td>
                <td>Slot</td>
            </tr>
        </thead>
        @foreach (var item in @Model.EquippedWondrousItems)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Slot</td>
            </tr>
        }
    </table>
    <table id="tblUnequippedWondrous" class="section full">
        <thead onclick="ToggleRowsVisible('tblUnequippedWondrous')">
            <tr>
                <td>Unequipped Wondrous Items</td>
                <td>Slot</td>
            </tr>
        </thead>
        @foreach (var item in @Model.UnequippedWondrousItems)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Slot</td>
            </tr>
        }
    </table>
    <table id="tblEquipment" class="section full">
        <thead onclick="ToggleRowsVisible('tblEquipment')"><tr><td>Equipment</td></tr></thead>
        @foreach (var item in @Model.Gears)
        {
            <tr>
                <td>@item.Name</td>
            </tr>
        }
    </table>

    <table id="tblManage" class="section full">
        <thead onclick="ToggleRowsVisible('tblManage')"><tr><td>Add Items</td></tr></thead>
        <tr><td>@Html.ActionLink("Add Weapon", "CreateWeapon", new { Id = Model.CharacterId }, null)</td></tr>
        <tr><td>@Html.ActionLink("Add Armor", "CreateArmor", new { Id = Model.CharacterId }, null)</td></tr>
        <tr><td>@Html.ActionLink("Add Magic Item", "CreateMagicItem", new { Id = Model.CharacterId }, null)</td></tr>
        <tr><td>@Html.ActionLink("Add Adventuring Gear", "CreateGear", new { Id = Model.CharacterId }, null)</td></tr>
    </table>
</div>