@model Pathfinder.ViewModels.SkillManager
@using Pathfinder.Extensions

@{
    ViewBag.Title = "Skills";
}

<div class="form-group">
    <div class="col-xs-12 h4">
        <h2>Skills</h2>

        Skill Points: <span id="sumResult" data-maxval="@Model.TotalSkillPoints.Beautify()"></span> / @Model.TotalSkillPoints.Beautify()
    </div>
</div>

@using (Html.BeginForm())
{
    <div class="form-group">
        <div class="col-xs-12">
            <table class="section noclick full">
                <thead>
                    <tr>
                        <td>Skill</td>
                        <td>Rank</td>
                        <td>CS</td>
                    </tr>
                </thead>
                @for (int i = 0; i < Model.Skills.Count; i++)
                {
                    <tr>
                        <td data-href="@Url.Action("Edit", "Skill", new { Id = Model.CharacterId })">
                            @(Model.Skills[i].Type == null ? Model.Skills[i].Name : Model.Skills[i].Name + " (" + Model.Skills[i].Type + ")")
                        </td>
                        <td width="50" class="noclick">@Html.EditorFor(m => Model.Skills[i].Ranks, new { htmlAttributes = new { @class = "form-control numberText sumbox" } })</td>
                        <td width="30" class="noclick">@Html.EditorFor(m => Model.Skills[i].ClassSkill, new { htmlAttributes = new { @class = "input-group" } })</td>
                        @Html.HiddenFor(m => Model.Skills[i].SkillId)
                        @Html.HiddenFor(m => Model.Skills[i].CharacterId)
                        @Html.HiddenFor(m => Model.Skills[i].Name)
                        @Html.HiddenFor(m => Model.Skills[i].Type)
                        @Html.HiddenFor(m => Model.Skills[i].Ability)
                        @Html.HiddenFor(m => Model.Skills[i].UseUntrained)
                        @Html.HiddenFor(m => Model.Skills[i].ArmorCheckPenalty)
                    </tr>
                }
            </table>

            @Html.ActionLink("+ [New Skill]", "Create", new { Id = Model.CharacterId })<br /><br />

            <input id="btnSave" value="Save" type="submit" class="btn btn-primary" />

            @Html.HiddenFor(m => m.CharacterId)
        </div>
    </div>
}

