@model Pathfinder.ViewModels.PreparedKnownSpellsView

@{
    ViewBag.Title = "Spells Known";
}

<h2>Spells Known</h2>

@using (Html.BeginForm())
{
    foreach (var spellLevel in Model.SpellLevels)
    {
        <table class="section full noclick" id="@("tblSpellsLevel" + spellLevel.Level)">
            <thead onclick="ToggleRowsVisible('@("tblSpellsLevel" + spellLevel.Level)')">
                <tr>
                    <td>Level @spellLevel.Level Spells</td>
                    <td class="min">Prepared: @spellLevel.GetPreparedSpellCount() / @spellLevel.SpellsPerDay</td>
                </tr>
            </thead>

            @foreach (var spell in Model.KnownSpells[spellLevel.Level])
            {
                <tr>
                    <td>@spell.Name</td>
                    <td>
                        @Html.EditorFor(m => spell.Prepared, new
                        {
                            htmlAttributes = new
                            {
                                @id = "txtPrepared" + spell.SpellId,
                                @class = "form-control",
                                @onchange = "UpdateSpell(" + spell.SpellId + ","
                                                            + spell.SpellLevelId + ",'"
                                                            + spell.Name + "','"
                                                            + "txtPrepared" + spell.SpellId + "',"
                                                            + spellLevel.SpellbookId + ")"
                        }
                        })
                    </td>

                </tr>
            }
        </table>
    }

    @Html.ActionLink("+ [New Known Spell]", "CreateSpell", new { Id = Model.Spellbook.SpellbookId })<br />
    @Html.ActionLink("+ [New Spell Level]", "CreatePreparedSpellLevel", new { Id = Model.Spellbook.SpellbookId })
}