@model Pathfinder.Models.Tag

@{
    ViewBag.Title = "Create Tag";
}

<h2>Create Tag</h2>

@using (Html.BeginForm())
{
    <strong>Display Name:</strong><br />
    @Html.EditorFor(model => model.Name, new { htmlAttributes = new {@class = "form-control" } } )<br />
    <strong>Tag</strong><br />
    @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })<br />
    <strong>Category</strong><br />
    @Html.DropDownListFor(model => model.TagCategoryId, new SelectList(ViewBag.Categories, "TagCategoryId", "Name"), new { @class = "form-control" })<br />

    @Html.HiddenFor(model => model.CharacterId)

    <input type="submit" value="Save" class="form-control" /><br /><br />
}

<div>
    @Html.ActionLink("Back to List", "Index", new { Id = Model.CharacterId })
</div>

