@model Pathfinder.Models.Attack

@{
    ViewBag.Title = "Create Attack";
}

<h2>Create Attack</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        @Html.HiddenFor(m => m.AttackId)
        @Html.HiddenFor(m => m.AttackGroupId)

        <div class="form-group">
            @Html.LabelFor(model => model.WeaponId, "Weapon", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.WeaponId, (SelectList)ViewBag.Weapons, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.WeaponId, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.AttackEquationId, "Attack Equation", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.AttackEquationId, (SelectList)ViewBag.AttackEquations, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AttackEquationId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DamageEquationId, "Damage Equation", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.DamageEquationId, (SelectList)ViewBag.DamageEquations, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DamageEquationId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "SubAttack", new { Id = Model.AttackId })
</div>
