@model Pathfinder.ViewModels.PlayerCharacter

@{
    ViewBag.Title = "Attacks";
}

<h2>Attacks</h2>

<table class="section noclick full">
    <thead onclick="ToggleRowsVisible('tblAttacks')">
        <tr>
            <td>Weapon</td>
            <td>Attacks</td>
            <td>Damage</td>
            <td>Critical</td>
            <td class="hidden-xs">Range</td>
            <td class="hidden-xs">Type</td>
        </tr>
    </thead>
    @foreach (var item in Model.Attacks)
    {
        <tr>
            <td>@item.WeaponName</td>
            <td>@item.AttackBonuses</td>
            <td>@item.Damage</td>
            <td>@item.Critical</td>
            <td class="hidden-xs">@item.Range</td>
            <td class="hidden-xs">@item.Type</td>
        </tr>
    }
</table><br />
@Html.ActionLink("+ [New Attack]", "Create", new { Id = Model.MyCharacter.CharacterId })

