@model Pathfinder.ViewModels.AttackGroupView

@{
    ViewBag.Title = "Attack";
}

<h2>@Model.Name</h2>

<div class="row">
    <div class="col-xs-12">
        <table class="section full">
            <thead>
                <tr>
                    <td>Weapon</td>
                    <td class="min">Bonus</td>
                    <td class="min">Damage</td>
                    <td class="hidden-xs min">Critical</td>
                </tr>
            </thead>
            @foreach (var item in Model.AttackViews)
            {
                <tr>
                    <td>@item.Weapon</td>
                    <td class="min">
                        <button class="btn btn-default attack-roller-button rollD20button" data-name="@item.Weapon" data-value="@item.AttackBonus">
                            @item.AttackBonus
                        </button>
                    </td>
                    <td class="min">
                        <button class="btn btn-default attack-roller-button rollable_button" data-name="@item.Weapon" data-value="@item.Damage">
                            @item.Damage
                        </button>
                    </td>
                    <td class="hidden-xs min">@item.Critical</td>
                </tr>
            }
        </table>
        @Html.ActionLink("+ [New Attack]", "CreateAttack", new { Id = Model.AttackGroupId })
    </div>
</div>

